html {
  scroll-behavior: smooth;
  margin: 0; }

body {
  margin: 0;
  font-family: 'Oswald', sans-serif; }

* {
  box-sizing: border-box; }

/******* Main Landing Page *******/
.hero-background {
  height: 100vh;
  background-image: url(../img/bg-img1.jpg);
  background-size: cover;
  background-color: #505050;
  background-blend-mode: multiply;
  background-attachment: fixed; }

/********* Footer *********/
footer {
  height: 35vh;
  background-color: #131414;
  padding: 3em 25em 5em 25em;
  text-align: center; }
  footer .social button {
    background-color: #eeeeee00;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out; }
    footer .social button:hover {
      transform: scale(1.55, 1.55); }
    footer .social button img {
      width: 30px; }
  footer .signature {
    max-width: 300px;
    padding-top: 10px; }
  footer .contact {
    margin: 20px 0 10px 0; }
    footer .contact .b-right {
      border-right: 1px solid maroon;
      padding-right: 20px; }
    footer .contact h2 {
      letter-spacing: 3px;
      color: #505050;
      font-weight: 100;
      display: inline;
      padding-left: 20px; }
    footer .contact img {
      width: 30px;
      display: inline; }

/******** Navigation Bar styling starts here ******/
nav {
  transition: all 400ms ease-in-out;
  position: fixed;
  width: 100%;
  padding: 0.5rem 0;
  opacity: 1;
  text-align: center;
  top: 0;
  color: white;
  z-index: 1; }
  nav:hover {
    box-shadow: 0 -8px 40px white; }
  nav a {
    text-decoration: none;
    color: white; }
  nav .logo {
    padding: 8px 30px 0 30px;
    width: 300px;
    align-content: center; }
  nav .title {
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-size: 1.8em; }

.nav-colored {
  background-color: #131414;
  padding: 0; }

.nav-text button {
  color: white; }
  .nav-text button:hover li {
    transform: scale(1.15, 1.15);
    color: white;
    box-shadow: 0 3px 0 -2px white; }

nav > ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style: none;
  transition: all 300ms ease-in-out; }
  nav > ul button {
    color: #131414;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    font-size: 0.99rem;
    margin: 15px;
    background-color: #eeeeee00;
    border: none;
    border-radius: 10px; }
    nav > ul button:hover li {
      transform: scale(1.15, 1.15);
      color: white;
      box-shadow: 0 3px 0 -2px white; }
    nav > ul button:active li {
      transform: scale(1.15, 1.15);
      color: maroon;
      box-shadow: 0 3px 0 -2px maroon; }
  nav > ul li {
    text-transform: uppercase;
    width: auto;
    font-size: 0.8em;
    display: inline-table;
    padding: 0 auto;
    transition: all 300ms ease-in-out; }

/***** Back To top Button ******/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: maroon;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px; }
  #myBtn .fa-angle-double-up {
    color: white;
    padding: 10px; }

/***** Buttons ******/
.button1 {
  font-weight: 600;
  padding: 10px;
  width: 35%;
  background-color: transparent;
  border: 3px solid maroon;
  border-radius: 3px; }

.download {
  background-color: maroon;
  color: white;
  transition: all 400ms ease-in-out; }
  .download:hover {
    background: transparent;
    color: maroon; }

.hire {
  transition: all 400ms ease-in-out;
  color: maroon; }
  .hire:hover {
    background: maroon;
    color: white; }

html {
  scroll-behavior: smooth;
  margin: 0; }

body {
  margin: 0;
  font-family: 'Oswald', sans-serif; }

* {
  box-sizing: border-box; }

/******* Main Landing Page *******/
.hero-background {
  height: 100vh;
  background-image: url(../img/bg-img1.jpg);
  background-size: cover;
  background-color: #505050;
  background-blend-mode: multiply;
  background-attachment: fixed; }

/********* Footer *********/
footer {
  height: 35vh;
  background-color: #131414;
  padding: 3em 25em 5em 25em;
  text-align: center; }
  footer .social button {
    background-color: #eeeeee00;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out; }
    footer .social button:hover {
      transform: scale(1.55, 1.55); }
    footer .social button img {
      width: 30px; }
  footer .signature {
    max-width: 300px;
    padding-top: 10px; }
  footer .contact {
    margin: 20px 0 10px 0; }
    footer .contact .b-right {
      border-right: 1px solid maroon;
      padding-right: 20px; }
    footer .contact h2 {
      letter-spacing: 3px;
      color: #505050;
      font-weight: 100;
      display: inline;
      padding-left: 20px; }
    footer .contact img {
      width: 30px;
      display: inline; }

.hero-background {
  text-align: center; }
  .hero-background .container {
    padding: 12em 0 10em 0; }
    .hero-background .container .hello {
      font-family: 'Amatic SC', cursive;
      text-transform: none;
      font-size: 2.5em;
      letter-spacing: 8px;
      line-height: 1em;
      color: whitesmoke;
      text-align: center;
      z-index: 2; }
    .hero-background .container .name {
      background-attachment: scroll;
      letter-spacing: 20px;
      font-family: 'Oswald', sans-serif;
      font-size: 4.2em;
      font-weight: 1000;
      color: maroon; }
    .hero-background .container .title {
      padding: 0;
      font-family: 'Kristi', cursive;
      text-transform: none;
      font-size: 3.5em;
      letter-spacing: 8px;
      color: whitesmoke;
      text-align: center;
      margin-top: 0;
      font-weight: 100; }

/******* Content Container *******/
/***** About Page Styling ******/
.main .content-container-grid {
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .main .content-container-grid .grid-image {
    background-image: url(../img/me1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; }
  .main .content-container-grid .content-grid-item {
    height: 100%;
    font-size: 16px; }
    .main .content-container-grid .content-grid-item .grid-item {
      padding: 6em 4em;
      color: #131414; }
      .main .content-container-grid .content-grid-item .grid-item .title-bg {
        right: 15px;
        color: rgba(30, 37, 48, 0.13);
        font-size: 50px;
        letter-spacing: 5px;
        line-height: 0.7;
        position: absolute;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
      .main .content-container-grid .content-grid-item .grid-item h1 {
        font-size: 36px;
        font-weight: 100;
        margin: 0;
        color: #505050; }
      .main .content-container-grid .content-grid-item .grid-item .bottom {
        margin-bottom: 50px; }
      .main .content-container-grid .content-grid-item .grid-item .line {
        font-weight: 600;
        letter-spacing: 3px;
        padding: 0;
        margin: 0;
        color: maroon;
        width: 5.3em;
        border-right: 2px solid black;
        font-size: 1.5em;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%); }
      .main .content-container-grid .content-grid-item .grid-item .anim-typewriter {
        animation: typewriter 2s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(40) infinite normal; }
@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 8em; } }
@keyframes blinkTextCursor {
  from {
    border-right-color: black; }
  to {
    border-right-color: transparent; } }
/****** Tools Section ******/
.tools {
  height: auto;
  text-align: center;
  padding: 45px 200px;
  background-color: #131414; }
  .tools h1 {
    letter-spacing: 5px;
    color: white; }
  .tools .tool-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; }
    .tools .tool-grid-container .tool-grid-item {
      padding: 0 150px;
      color: #505050;
      background-color: #131414;
      transition: all 500ms ease-in-out; }
      .tools .tool-grid-container .tool-grid-item:hover {
        box-shadow: 0 5px 40px maroon; }
      .tools .tool-grid-container .tool-grid-item h1 {
        padding: 0 0 10px 0;
        font-size: 1.5em;
        border-bottom: 1.5px solid maroon; }

/****** Skills Section ******/
.skills-section {
  height: auto;
  text-align: center;
  padding: 45px 0; }
  .skills-section h1 {
    letter-spacing: 5px; }
  .skills-section .skills-grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 20px;
    background-color: #131414;
    transition: all 500ms ease-in-out; }
    .skills-section .skills-grid-container:hover {
      box-shadow: 0 5px 40px maroon; }
    .skills-section .skills-grid-container .skill-grid-item {
      padding: 20px; }
      .skills-section .skills-grid-container .skill-grid-item img {
        width: 30%; }

/****** Quote Slideshow Section ******/
.quote {
  height: 40vh;
  background-image: url(../img/bg-coffee.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: #505050;
  background-blend-mode: multiply;
  background-attachment: fixed; }

/****** Portfolio Section ******/
.portfolio {
  height: auto;
  background-color: white;
  text-align: center;
  padding: 80px 80px; }
  .portfolio h1 {
    letter-spacing: 5px; }
  .portfolio .project-grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr; }
    .portfolio .project-grid-container .project-grid-item img {
      width: 100%;
      height: 100%;
      transition: all 300ms ease-in-out; }
      .portfolio .project-grid-container .project-grid-item img:hover {
        opacity: 0.3; }

/*# sourceMappingURL=main.css.map */
