@import 'partials/_variables';

html {
    scroll-behavior: smooth;
    margin: 0;
} 

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
}

/******* Main Landing Page *******/

.hero-background {
    height: 100vh;
    background-image: url(../img/bg-img1.jpg);
    background-size: cover;
    background-color: #505050;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

/********* Footer *********/

footer {
    height: 10vh;
    padding: 0 10em 0 10em;
}

.social {
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 300ms ease-in-out;

    &:hover {
        transform: scale(1.15,1.15);
    }
}

.github {
    background-image: url(../img/github.png) ;
}

.linkedin {
    background-image: url(../img/linkedin.png) ;
}

.gmail {
    background-image: url(../img/gmail.png) ;
}



