@import 'partials/_variables';

/******** Navigation Bar styling starts here ******/

nav {
    transition: all 300ms ease-in-out;
    position: fixed;
    width: 100%;
    padding: 0.5rem 0;
    opacity: 1;
    text-align: center;
    top: 0;

    a {
        text-decoration: none;
        color: $tertiary-color;
    }

    .logo {
        padding: 8px 30px 0 30px;
        width: 300px;
        align-content: center;
    }

    .title {
        font-weight: 100;
        margin: 0;
        padding: 0;
        font-size: 1.8em;
    }
}

// Styling for Navbar on scroll color change and size

.nav-colored {
    background-color: $primary-color;
}

.nav-height {
    padding: 0;
}

.nav-text {
    
    button {
        color: $secondary-color;

        &:hover li {
            transform: scale(1.15,1.15);
            color: black;
            box-shadow: 0 3px 0 -2px black;
        }
    }

}

nav > ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
    transition: all 300ms ease-in-out;

    button {
        color: $tertiary-color;
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 2px;
        position: relative;
        font-size: 1.4rem;
        margin: 15px;
        background-color: #eeeeee00;
        border: none;
        border-radius: 10px;


        &:hover li {
            transform: scale(1.15,1.15);
            color: $primary-color;
            box-shadow: 0 3px 0 -2px $primary-color;
        }  
        
        &:active li {
            transform: scale(1.15,1.15);
            color: $primary-color;
            box-shadow: 0 3px 0 -2px $primary-color;
        }
        
    }

    li {
        text-transform: uppercase;
        width: auto;
        font-size: 0.8em;
        display: inline-table;
        padding: 0 auto;
        transition: all 300ms ease-in-out;
    }

}

/****** Main Container For Content ******/

.main-container {
    padding-top: 240px;
    padding: 0 50px 0 50px;
    height: 200px;
}