@import 'partials/_variables',
        'partials/_base';

/******* Content Container *******/

.content-container {

    .content-container-grid {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        grid-gap: 20px;
        height: 100%;
        padding: 20px;

        .content-grid-item {
            height: 100%;
            
            .grid-item {
                padding: 3em 0.5rem;
                color: $tertiary-color;

                h1 {
                    font-size: 36px;
                    font-weight: 100;
                    font-family: 'Kristi', cursive;
                    margin: 0;
                }

                p {
                    font-weight: 600;
                }

                .line {
                    padding: 0;
                    margin: 0;
                    color: $primary-color;
                    width: 5.3em;
                    border-right: 2px solid black;
                    font-size: 1.5em;
                    white-space: nowrap;
                    overflow: hidden;
                    transform: translateY(-50%);
               }

                .anim-typewriter {
                    animation: typewriter 2s steps(40) 1s 1 normal both,
                    blinkTextCursor 500ms steps(40) infinite normal;
                }
               
               @keyframes typewriter {
                    from {
                          width: 0;
                    }
                    to {
                          width: 8em;
                    }
               }
               
               @keyframes blinkTextCursor {
                    from {
                          border-right-color: black;
                    }
                    to {
                          border-right-color: transparent;
                    }
                }
                
               
            }
        }
                
    }
}