@import 'partials/_variables',
        'partials/_base';



.hero-background {
    text-align: center;

    .container {
        padding: 10em 0 10em 0;


        .hello {
            font-family: 'Amatic SC', cursive;
            text-transform: none;
            font-size: 3.5em;
            letter-spacing: 8px;
            line-height: 1em;
            color: whitesmoke;
            text-align: center;
        }

        .name {
            background-attachment: fixed;
            font-family: sans-serif;
            font-size: 70px;
            font-weight: 900;
            background-position: center center;
            background-size: cover;
            text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.1);
            -webkit-text-fill-color: transparent;
            background-image: url(../img/abstract3.jpg);
            background-position: center center;
            background-size: cover;
            -webkit-background-clip: text;
        }

        .title {
            padding: 0;
            font-family: 'Kristi', cursive;
		    text-transform: none;
		    font-size: 3.5em;
		    letter-spacing: 8px;
            color: whitesmoke;
            text-align: center;
            margin-top: 0;
            font-weight: 100;
        }

    }

    
}

/******* Content Container *******/

/***** About Page Styling ******/

.content-container {

    .content-container-grid {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        grid-gap: 100px;
        padding: 20px;

        .grid-image {
            background-image: url(../img/me1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-bottom-left-radius: 120px;
            border-top-right-radius: 120px;
            
        }

        .content-grid-item {
            height: 100%;
            font-size: 16px;
            
            .grid-item {
                padding: 3em 0.5rem;
                color: $tertiary-color;

                h1 {
                    font-size: 36px;
                    font-weight: 100;
                    margin: 0;
                }

                .middle {
                    margin-top: 30px; 
                }

                p {
                    font-weight: 600;
                }

                .line {
                    font-weight: 600;
                    letter-spacing: 3px;
                    padding: 0;
                    margin: 0;
                    color: $primary-color;
                    width: 5.3em;
                    border-right: 2px solid black;
                    font-size: 1.5em;
                    white-space: nowrap;
                    overflow: hidden;
                    transform: translateY(-50%);
               }

                .anim-typewriter {
                    animation: typewriter 2s steps(40) 1s 1 normal both,
                    blinkTextCursor 500ms steps(40) infinite normal;
                }
               
               @keyframes typewriter {
                    from {
                          width: 0;
                    }
                    to {
                          width: 12em;
                    }
               }
               
               @keyframes blinkTextCursor {
                    from {
                          border-right-color: black;
                    }
                    to {
                          border-right-color: transparent;
                    }
                }
                
               
            }
        }
                
    }
}

/***** Work Page Styling ******/

.main {

    .content-container {

    }
}




