@media only screen and (max-width: 600px) {
    .main {

        .content-container-grid {
            grid-template-columns: 1fr;
        }

    }

    .tools {
        
        .tool-grid-container {
            grid-template-columns: 1fr;
        }
        
    }

    .skills-section {

        .skills-grid-container {
            grid-template-columns: 1fr 1fr 1fr;
        }

    }

    .portfolio {
        
        .project-grid-container {
            grid-template-columns: 1.5fr;
        }

    }

    footer {
        padding: 4em;
    }

    footer .contact .b-right {
        border: none;
    }
}

@media only screen and (max-width: 360px) {

    .hero-background .container {
        padding: 18em 5px;
    }

    .hero-background .container .name {
        font-size: 3em;
    }

    nav > ul button {
        font-size: 0.8rem;
    }

    .main .content-container-grid .content-grid-item .grid-item {
        padding: 3em 1em;
    }

    .skills-section .skills-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .tools .tool-grid-container .tool-grid-item {
        padding: 10px;
    }

    .quote h1 {
        font-size: 1.01em;
    }

    .portfolio {
        padding: 0;
    }

    .hero-background .container {
        font-size: 10px;
    }

    footer {
        padding: 20px 0;
        font-size: 10px;

        .contact {
            display: inline-grid;
            margin: 0;
        }
    }

    footer .contact .b-right {
        border: none;
    }

}